@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.color-selector:hover{
  transform: translateY(-10px);
  transition: all .5s ease-in-out;
}

@font-face {
  font-family: digitalFont;
  src: url('../src/Assets/fonts/Technology-Bold.ttf');
}

.font-link{
  font-family: digitalFont;
}